@import "tailwindcss";
@config "../tailwind.config.legacy.ts";
@import "tw-animate-css";
@import "./legacy-index.css";

@custom-variant dark (&:is(.dark *));

@layer base {
  * {
    border-color: hsl(var(--border));
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }
}
